body{
    margin: 0;
    padding: 0;
    color: #22252B;
    font-family: "Poppins"; 
    box-sizing: border-box;
}
header{
    position: relative;
}
header section, .section1 h1, .section1 h2, .section1 div{
    position: relative;
}
header::before{
    content: '';
    background: url(images/bg1.jpeg);
    opacity: 0.05;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 52px;
    gap: 165px;
}
.hamburger{
    display: none;
    position: relative;
}
.image img{
    width: 600px;
}
.secondary{
    display: flex;
    align-items: center;
    gap: 15px;
}
.primary{
    display: flex;
    align-items: center;
    gap: 30px;
}
.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    position: relative;
}
.a{
    background: transparent;
    cursor: pointer;
    border: none;
    /* appearance: none; */
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;    
}
.primary p, .primary ul{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    padding: 0;
}
.primary li{
    display: none;
    position: absolute;
}
.dropdown p:hover  li{
    display: block;
}
.secondary p{
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    cursor: pointer;
}
.secondary button{
    padding: 15px 18px;
    border-radius: 48px;
    background-color: #754BC9;
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    border: none;
    cursor: pointer;
}
.main{
    width: 544px;
}
.headermain{
    padding-top: 114px;
    padding-bottom: 114px;
    gap: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main h1{
    font-size: 64px;
    font-weight: 600;
    line-height: 80px;
    margin: 0;
}
.main p{
    margin: 0;
    margin-top: 24px;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    line-height: 42px;
    color: #754BC9;    
}
.main button{
    margin-top: 48px;
    padding: 18px 24px;
    border-radius: 48px;
    background-color: #22252B;
    display: flex;
    gap: 12px;
    border: none;
    cursor: pointer;
}
.main button p{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: white;
}
.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 0;
    position: relative;
}
.section1::before{
    content: '';
    background: url(images/bg2.jpeg);
    background-size: cover;
    opacity: 0.30;
    position: absolute;
    top: 0;
    bottom: 0; left: 0; right: 0;
}
.section1 h2{
    margin: 0;
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;    
    margin-bottom: 24px;
}
.section1 h1{
    width: 928px;
    margin: 0;
    font-size: 48px;
    font-style: italic;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
    color: #754BC9;
    margin-bottom: 48px;
    text-shadow: 10px 10px 10px #00000017;
}
.section1 div{
    display: flex;
    gap: 48px;
}
.section1 div p{
    width: 568px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;    
}
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.child1{
    background-color: #754BC9;
    padding: 78px 48px;
    width: 85%;
}
.child1 ul{
    margin: 0;
    padding: 0;
    color: white;
    gap: 24px;
    display: grid;
    justify-content: right;
    align-items: center;
}
.child1 p{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
}
.child1 h2{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}
.child1 li{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 496px;
}
.child2{
    background: linear-gradient(249.63deg, #F3F4F7 0%, #E1E4EA 82.14%);
    gap: 24px;
    padding-left: 96px;
    padding-bottom: 96px;
    padding-top: 66px;
    display: grid;
    width: 100%;
}
.child2 h1{
    width: 544px;
    margin: 0;
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
}
.child2 p{
    width: 544px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.section3{
    background: #F3F4F780;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 192px;
}
.section3 p{
    margin: 0;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;    
    color: #754BC9;
}
.section3 h1{
    margin: 0;
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
    margin-bottom: 48px;    
}
.boxes{
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.box2{
    display: flex;
    gap: 48px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}
.box2 div{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 130px;
    height: 105px;
    padding: 24px 12px;
    gap: 12px;
    border-radius: 24px;
    box-shadow: 0px 18px 18px 0px #00000017;
}
.box2 div:hover{
    box-shadow: 6px 10px 20px #8768c5;
}
.box2 p{
    width: 120px;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;    
    color: #22252B;
}
.section4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding-bottom: 96px;
}
.dropdown{
    gap: 3px;
    display: flex;
}
.dropdown img, nav div{
    display: flex;
}
.dropdown1{
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    border: solid 1px #D4D5D9;
    border-radius: 6px;
    width: 240px;
    opacity: 0px;    
    cursor: pointer;
    margin-bottom: 24px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #434956;
}
.sec4head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 242px;
    margin-top: 48px;
    border-bottom: 1px solid #D4D5D9;
}
.drpdwn{
    display: flex;
    gap: 24px;
}
.sec4head button{
    width: 260px;
    padding: 8px 16px;
    gap: 12px;
    border-radius: 48px;
    border: solid 1px #D4D5D9;
    opacity: 0px;
    display: flex;  
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 24px;
    background-color: white;
}
.sec4head  button input{
    color: #8D95A5;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    border: none;
}
.sec4main{
    display: grid;
    width: 982px;
    padding-left: 24px;
    border-left: 2px solid #754BC9;
}
.sec4main h2{
    margin: 0;
    font-weight: 600;
    line-height: 30px;
}
.sec4main pre img{
    width: 1px;
    height: 24px;
}
.sec4main pre{
    margin: 0;
    margin-bottom: 12px;
    display: flex;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;    
}
.sec4main p{
    color: #434956;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0; 
}
.more{
    display: flex;
    align-items: center;
    cursor: pointer;
}

label i{
    color: #754BC9;
}
.more p, .section4 label p{
    margin: 0;
    padding-top: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #754BC9;
    cursor: pointer;
}
label i, label img{
    padding-top: 12px;
}
.content, .sec4main input, .content1{
    display: none;
}
#ch:checked ~ .content, #che:checked ~ .content1{
    display: contents;
}
#ch:checked ~ .content1{ display: none;}
#che:checked ~ .content{ display: none;}
#ch:checked ~ label, #che:checked ~ label, #ch:checked ~ .content1, #che:checked ~ .content{
    display: none;
}
#ch:checked ~ .section4 label p, .sec4main p, #che:checked ~ .section4 label p, .sec4main p{
    border-left: 2px solid #754BC9;
    padding-left: 24px;
    left: -26px;
    position: relative;
}
#ch:checked ~ .content, #che:checked ~ .content{
    margin-bottom: 40px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #434956;
    color: white;
}
.footermain{
    display: flex;
    margin-top: 72px;
    gap: 48px;
    margin-bottom: 48px;
}
.footermain ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footermain div{
    gap: 24px;
    width: 260px;
}
.footermain h4{
    margin: 0;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.footermain ul{
    margin: 0;
    padding: 0;
}
.footermain a{
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
hr{
    color: white;
    width: 87.5%;
    margin: 48px 0;
    height: 1px;
    opacity: 10%;
}
.bottom{
    display: flex;
    align-items: center;
    gap: 656px;
    margin-bottom: 72px;
    padding-top: 48px;
    border-top: 1px solid rgb(84 90 101);
}
.bottom ul{
    display: flex;
    gap: 48px;
    padding: 0;
}
.bottom a{
    margin: 0;
    color: #D4D5D9;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;    
    cursor: pointer;
    text-decoration: none;
}
.bottom img,.footermain img, .logo{
    cursor: pointer;
}

@media screen and (max-width:1260px) {
    nav{
        gap: 100px;
    }
    .image img, .child2 p{
        width: 470px;
    }
    .section1 div p{
        width: 505px;
    }
    .child1 li {
        width: 440px;
    }
    .footermain div{
        width: 227px;
    }
    .bottom{
        gap: 530px;
    }
    .child2{
        padding-left: 45px;
        padding-bottom: 62px;
    }
    .child2 h1{
        width: 360px;
    }
}
@media screen and (max-width:1120px) {
    nav{
        gap: 70px;
    }
    .primary, .secondary{
        gap: 20px;
    }
    .headermain{
        padding-top: 70px;
    }
    .main{
        width: 432px;
    }
    .main h1{
        font-size: 48px;
        line-height: normal;
    }
    .main p{
        font-size: 20px;
        line-height: 36px;
    }
    .image img{
        width: 470px;
    }
    .section1 div p, .child2 p{
        width: 450px;
    }
    .sec4main{
        width: 800px;
    }
    .child1 li {
        width: 414px;
    }
    .footermain div{
        width: 200px;
    }
    .sec4head{
        gap: 200px;
    }
    .bottom{
        gap: 420px;
    }
    .section3{
        padding-bottom: 120px;
    }
}
@media screen and (max-width:1024px) {
    .primary, .secondary{
        gap: 10px;
    }
    .main{
        width: 360px;
    }
    .headermain{
        padding-bottom: 80px;
    }
    nav{
        gap: 50px;
    }.footermain{
        gap: 22px;
    }
    .section1 h1{
        width: 818px;
    }
    .sec4main{
        width: 700px;
    }
    .sec4head{
        gap: 125px;
    }
    .section1 div p{
        width: 410px;
    }
    .child1 li {
        width: 380px;
    }
    .child2 p{
        width: auto;
    }
    .child1{
        padding: 54px 56px;
        width: 50%;
    }
    .child2{
        padding: 55px;
        width: auto;
    }
    .bottom{
        gap: 340px;
    }
}
@media screen and (max-width:954px) {
    .primary{
        display: none;
    }
    .secondary{
        gap: 30px;
    }
    nav{
        gap: 170px;
    }
    .hamburger{
        display: contents;
    }
    .image img{
        width: 410px;
    }
    .section1 h1{
        font-size: 44px;
        width: 750px;
    }
    .main{
        width: 320px;
    }
    .main h1, .section1 h2{
        font-size: 38px;
    }
    .main p{
        font-size: 16px;
        line-height: normal;
    }
    .section1 div p {
        width: 364px;
    }
    .child1{
        padding: 54px 56px;
    }
    .child2{
        padding: 54px;
    }
    .child1 li{
        width: 350px;
    }
    .footermain div{
        width: 177px;
    }
    .bottom{
        gap: 250px; 
    }
    .section4 .dropdown button, .sec4head button {
        width: 200px;
    }
}
@media screen and (max-width:922px) {
    .child2{
        padding: 55px 20px;
    }   
}
@media screen and (max-width:875px) {
    .child1 {
        padding: 54px 48px;
    }   
}
@media screen and (max-width:857px) {
    .child1 {
        padding: 54px 48px;
    }   
}
@media screen and (max-width:850px) {
    .section2{
        flex-direction: column;
        position: relative;
    }
    .child1, .child2{
        width: 100%;
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section1 div{
        flex-direction: column;
    }
    .section1 div p, .section1 h1, .child2 p, .child2 h1{
        width: auto;
        padding: 0 50px;
        text-align: center;
    }
    .child2 h1{
        width: auto;
    }
    .child1 li, .sec4main{
        width: 600px;
    }
    .sec4head{
        gap: 30px;
    }
    nav{
        gap: 120px;
    }
    .image img{
        width: 367px;
    }
    .main h1, .section1 h2, .child2 h1{
        font-size: 30px;
    }
    .section1 h1{
        font-size: 34px;
        margin-bottom: 20px;
    }
    .child1 h2{
        font-size: 16px;
    }
    .row, .box2, .boxes{
        gap: 15px;
    }
    .footermain div{
        width: 150px;
    }
    .bottom{
        gap: 140px;
    }
    hr{
        width: 80%;
    }
    .main{
        width: 260px;
    }
}
@media screen and (max-width:720px) {
    nav{
        gap: 80px;
    }
    .image img{
        width: 285px;
    }
    .child1 li, .sec4main {
        width: 500px;
    }
    .row{
        flex-direction: column;
    }
    .row, .box2, .boxes{
        gap: 40px;
    }
    .section4 .dropdown button, .sec4head button {
        width: 170px;
    }
    .footermain div{
        width: 130px;
    }
    .bottom ul{
        gap: 22px;
    }
}
@media screen and (max-width:630px) {
    .logo{
        width: 170px;
    }    
    .footermain img{
        width: 30px;
    }
    .footermain div{
        width: 114px;
    }
    .bottom{
        gap: 78px;
    }
    nav{
        gap: 60px;
    }
    .main{
        width: 224px;
    }
    .image img{
        width: 254px;
    }
}
@media screen and (max-width:570px) {
    .secondary{
        display: none;
    }
    nav{
        gap: 15rem;
    }
    .headermain{
        flex-direction: column-reverse;
        padding: 20px;
    }
    .image img, .main, .section1 div p, .section1 h1, .child2 p{
        width: 430px;
        padding: 0;
        text-align: left;
    }
    .main button, .main p{
        margin-top: 20px;
    }
    .section1 h1{
        font-size: 30px;
        line-height: normal;
        text-align: center
    }
    .section1 div p, .child1 h2, .child1 p, .sec4main p, .footermain h4, .main button p, .child2 p{
        font-size: 14px;
    }
    .footermain a, .bottom p{
        font-size: 12px;
    }
    .child1 li, .sec4main {
        width: 400px;
    }
    .sec4head{
        flex-direction: column;
        gap: 0;
    }
    .section4 .dropdown button, .sec4head button {
        width: 215px;
    }
    .footermain div {
        width: 92px;
    }
}
@media screen and (max-width:470px) {
    nav{
        gap: 10rem;
    }
    .image img, .main, .section4 .dropdown button, .sec4head button, .section1 div p, .section1 h1, .child2 p{
        width: 355px;
    }
    .child1 li, .sec4main {
        width: 330px;
    }
    .footermain div {
        width: 72px;
    }
    .bottom {
        gap: 32px;
    }
    hr{
        margin: 30px 0;
    }
    .section4, .section3{
        padding: 70px 0;
    }
    .bottom ul{
        gap: 10px;
    }
    .section3 h1{
        font-size: 30px;
    }
    .dropdown{
        flex-direction: column;
    }
}
@media screen and (max-width:420px) {
    nav{
        gap: 6rem;
    }
    .image img, .main, .section4 .dropdown button, .sec4head button, .section1 div p, .section1 h1, .child2 p{
        width: 295px;
    }
    .child1 li, .sec4main {
        width: 270px;
    }
    .sec4main pre{
        font-size: 12px;
        margin-top: 10px;
    }
    .footermain div {
        width: 72px;
    }
    .bottom {
        gap: 32px;
    }
    hr{
        margin: 30px 0;
    }
    .section4, .section3{
        padding: 70px 0;
    }
    .bottom ul{
        gap: 10px;
    }
    .section3 h1{
        font-size: 30px;
    }
    .dropdown{
        flex-direction: column;
    }
    .row, .box2, .boxes{
        gap: 20px;
    }
    .footermain a, .bottom p {
        font-size: 10px;
    }
    .footermain {
        flex-wrap: wrap;
        margin: 40px;
    }
    .bottom{
        gap: 18px;
    }
    hr{
        width: 70%;
    }
    .section1 h1{
        font-size: 28px;
    }
}
@media screen and (max-width:370px) {
    .row, .box2, .boxes{
        gap: 10px;
    }
}
@media screen and (max-width:340px) {
    nav{
        gap: 5rem;
    }
    .image img, .main, .section4 .dropdown button, .sec4head button, .section1 div p, .section1 h1, .child2 p{
        width: 275px;
    }
    .child1 li, .sec4main {
        width: 250px;
    }
    .row, .box2, .boxes{
        flex-direction: column;
        gap: 25px;
    }
    .box2 div{
        width: 200px;
    }
    .bottom, .bottom ul{
        gap: 6px;
    }
}